@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
body {
//Gradient from uigradients.com/    
  
  background:         linear-gradient(90deg, #085078 10%, #85D8CE 90%); /* W3C */
        
}